<article>
    <h2>
        Edit Review
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
            Reviewed by you on {{format_date post.created_at}}  
            |
            {{post.comments.length}} {{ "comment" post.comments.length}}
        </div>
        <div>
            <label for="post-text">Post Review</label>
            <textarea name="post-text" id="post-tet">
                {{post.post_text}}
            </textarea>
        </div>
        <button type="submit">Save Changes</button>
        <button type="button" class="delete-post-btn">Delete Review</button> 
    </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>